@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#banner {
  background-image: url(./img/banner.png);
  width: 1920px;
  height: 1280px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner img {
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 1920px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav #box {
  margin: 60px auto 0;
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 205px 350px 510px 180px 180px;
      grid-template-columns: 205px 350px 510px 180px 180px;
}

nav #box #TopLink {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav #box #TopLink a {
  font-size: 18px;
  font-weight: 100;
}

nav #box #TopLink a:nth-child(2) {
  text-align: center;
}

nav #box #TopLink a:nth-child(3) {
  text-align: right;
}

nav #box #OtherLink {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav #box #OtherLink a:nth-child(2) {
  text-align: right;
}

#contant {
  background-image: url(./img/paper.png);
  width: 1920px;
  border: 0.1px solid rgba(0, 0, 0, 0);
}

#contant h1 {
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 9.6px;
  text-align: center;
}

#contant #news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 1200px;
  margin: 0 auto;
  grid-gap: 20px;
}

#contant #news div {
  background-color: white;
  padding: 40px 30px;
}

#contant #news div h3 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3.6px;
  text-align: center;
  color: #49aa45;
  margin-bottom: 30px;
}

#contant #news div h4 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 5px;
}

#contant #news div hr {
  margin-bottom: 30px;
}

#contant #news div p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 4.5px;
  text-align: left;
  color: #333333;
  margin-bottom: 30px;
}

#contant #recommend {
  text-align: center;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

#contant #recommend div {
  width: 220px;
  height: 200px;
  position: absolute;
  top: 75px;
  right: 160px;
}

#contant #recommend div h3 {
  color: #f5bb28;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6.5px;
  text-align: center;
  margin-bottom: 30px;
}

#contant #recommend div h4 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.5px;
  text-align: center;
  color: #ccc;
  margin-bottom: 46px;
}

#contant #recommend div p {
  font-size: 20px;
  line-height: 2.5;
  letter-spacing: 4px;
  text-align: left;
}

#contant #text {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 620px auto;
      grid-template-columns: 620px auto;
  grid-gap: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

#contant #text img {
  border: 10px solid white;
  width: 100%;
}

#contant #text h3 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 7.2px;
}

#contant #text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 2.5;
  letter-spacing: 6px;
  margin: 50px 0;
}

#contant #text a {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5.4px;
  text-decoration: none;
  padding: 17px 67px;
  border: 2px solid #252525;
  color: #252525;
}

#contant footer {
  text-align: center;
}

#contant footer img {
  margin: 126px 0 73px;
}

#contant footer p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3.6px;
}

#contant footer p:nth-of-type(1) {
  margin-bottom: 17px;
}

#contant footer p:nth-of-type(2) {
  margin-bottom: 137px;
}
/*# sourceMappingURL=style.css.map */