* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

#banner {
    background-image: url(./img/banner.png);
    width: 1920px;
    height: 1280px;
    display: grid;
    align-items: center;

    img{
        margin: 0 auto;
    }
}

nav {
    position: fixed;
    width: 1920px;

    a{
        text-decoration: none;
        color: white;
    }

    #box{
        margin: 60px auto 0;
        width: 1200px;
        display: grid;
        grid-template-columns: 205px 350px 510px 180px 180px;

        #TopLink{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            //垂直對齊：底線
            align-items: flex-end;
            
            a{
                font-size: 18px;
                font-weight: 100;
                    

                &:nth-child(2){
                    text-align: center;
                }

                &:nth-child(3){
                    text-align: right;
                }
            }
        }

        #OtherLink{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: flex-end;

            a:nth-child(2){
                text-align: right;
            }

        }

    }
}

#contant{
    background-image: url(./img/paper.png);
    width: 1920px;
    height: 500px;

    h1{
        margin-top: 50px;
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 9.6px;
        text-align: center;
    }
}